<!--
  - "*" sign is a directive

  - ngFor | ngIf are structural directive (changes the DOM content)
    directive value is a js code

  - using [] is data binding, like [checked]="item.isCompleted"
    [attr.data-index]="i" binding index to input 
    (for loop on input so we need to know which one is checked)
  
  - using () is event binding

  - [(ngModel)] is used to bind form data to angular FormsModule
    it is put as an attribute on the input element
-->

<div class="container">
  <form class="row mt-3 gx-3 gy-2 align-items-center justify-content-center">
    <div class="col-sm-6">
      <label for="new-wish-text" class="visually-hidden">Wish</label>
      <input
        id="new-wish-text"
        type="text"
        name="new-wish-text"
        class="form-control"
        [(ngModel)]="newWishText"
      />
    </div>
    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-primary p-1 mx-1"
        (click)="$event.preventDefault(); addNewWish()"
      >
        Add Wish
      </button>
    </div>
  </form>

  <div class="row mt-3">
    <div class="col-sm-2">
      <select
        id="select"
        class="form-select"
        [(ngModel)]="filterOptionSelected"
      >
        <option value="0">All</option>
        <option value="1">Unfulfilled</option>
        <option value="2">Fulfilled</option>
      </select>
    </div>
  </div>

  <div class="row mt-3">
    <wish-list [wishes]="visibleItems"> </wish-list>
  </div>
</div>
