<!--
  - "*" sign is a directive

  - ngFor | ngIf are structural directive (changes the DOM content)
    directive value is a js code

  - using [] is data binding, like [checked]="item.isCompleted"
    [attr.data-index]="i" binding index to input 
    (for loop on input so we need to know which one is checked)
  
  - using () is event binding

  - [(ngModel)] is used to bind form data to angular FormsModule
    it is put as an attribute on the input element
-->

<div class="container">
  <!--$event here means new WishItem(this.newWishText) coming from the child-->
  <add-wish (addWishEvent)="items.push($event)"></add-wish>
  <wish-filter (filterEvent)="filter = $event"></wish-filter>
  <!--this [] is received as @Input in wish-list component-->
  <wish-list [wishes]="visibleItems"></wish-list>
</div>
